/* GENERAL */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8d7da;
    text-align: center;
    color: #5a3e36;
    background: linear-gradient(135deg, #fff1f3, #fde2e4);
}

/* HERO HOME*/

.hero p {
    padding: 50px 20px;
}

.hero-title {
    margin-top: 40px !important;
}

.hero {
    padding-top: 40px;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    }

    .hero-content {
        position: relative;
        z-index: 2;
        color: white;
    }

.produk {
    position: relative;
    text-align: center;
    padding: 60px 10%;
}

.produk-image-wrapper {
    overflow: hidden;
    border-radius: 25px;
    max-width: 900px;
    margin: 0 auto 25px auto;
}

.produk-img {
    width: 100%;
    display: block;
    transition: 0.6s ease;
    animation: zoomSlow 15s infinite alternate;
}

.produk-image-wrapper:hover .produk-img {
    transform: scale(1.05);
}

.produk-img {
    animation: zoomSlow 15s infinite alternate;
}

@keyframes zoomSlow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.produk p {
    margin-top: 20px;
    font-size: 17px;
}

.produk h2 {
    margin-top: 0;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #8b4c5c;
    margin-top: 40px;
    margin-bottom: 3px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: #8b4c5c;
    margin-bottom: 15px;
}

.hero h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.hero-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-hero-primary {
    background-color: #c06c84;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-hero-primary:hover {
    background-color: #a0526d;
    transform: translateY(-3px);
}

.btn-hero-secondary {
    border: 2px solid #c06c84;
    color: #c06c84;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.btn-hero-secondary:hover {
    background-color: #c06c84;
    color: white;
}

/* CARAOUSEL */

.premium-carousel {
    width: 100%;
    overflow: hidden;
}

.premium-track {
    display: flex;
    transition: transform 0.7s ease;
}

.premium-item {
    min-width: 100%;
    position: relative;
}

/* GAMBAR FULL WIDTH */
.premium-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* OVERLAY TEXT */
.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px 25px;
    border-radius: 15px;
    max-width: 300px;
    backdrop-filter: blur(5px);
}

/* POSISI KIRI */
.content.left {
    left: 5%;
}

/* POSISI KANAN */
.content.right {
    right: 5%;
}

/* TEXT */
.content h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.content p {
    font-size: 14px;
}

/* PAGES PROFILE */

.hero-modern {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 10%;
}

.hero-images,
.profile-text {
    flex: 1 1 200px;
}

.profile-text {
    text-align: left;
    max-width: 550px;
}

.hero-images img {
    width: 100%;
    max-width: 400px;
    border-radius: 25px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.hero-images img:hover {
    transform: scale(1.03);
}

/* TEXT PROFILE*/

.hero-text {
    text-align: left;
    max-width: 600px;
}

.hero-modern {
    display: flex;
    align-items: flex-start;
    /* ini bikin teks naik */
    justify-content: center;
    gap: 60px;
    padding: 100px 10%;
    flex-wrap: wrap;
}

.profile-text {
    background: rgba(255, 255, 255, 0.6);
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(10px);
    max-width: 550px;
}

.profile-text h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #c06c84;
    margin-top: 10px;
    border-radius: 5px;
}

.subtitle {
    font-size: 20px;
    color: #8b4c5c;
    margin-bottom: 15px;
    font-weight: bold;
}

.hero-text p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.features {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.features li {
    margin-bottom: 12px;
    padding-left: 28px;
    position: relative;
    font-weight: 500;
}

.features li::before {
    content: "✔";
    position: absolute;
    left: 0;
}

/* SECTION KONTAK*/

.judul-kontak {
    color: #8b4c5c;
    margin-top: 80px;
    /* tambah jarak ke atas */
    margin-bottom: 15px;
}

.kontak-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.kontak-box {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 1);
}

.btn-kontak {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #c06c84;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 14px;
    transition: 0.3s;
}

.btn-kontak:hover {
    background-color: #a0526d;
    transform: scale(1.05);
}

/* SECTION MENU */

/* SECTION */

.product-card{
border-radius: 20px;
overflow: hidden;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
transition: 0.3s;
background: white;
}

.product-card:hover{
transform: translateY(-8px);
box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.product-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    }

.galeri {
    padding: 60px 10%;
    text-align: center;
}

.galeri h2 {
    margin-bottom: 30px;
    color: #8b4c5c;
}

/* GRID */
.galeri-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* ITEM */
.galeri-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

/* IMAGE */
.galeri-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.5s;
}

/* OVERLAY */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transition: 0.4s;
}

/* HOVER EFFECT */
.galeri-item:hover img {
    transform: scale(1.1);
}

.galeri-item:hover .overlay {
    opacity: 1;
}

/* BUTTON */
.btn-pesan{
    background: linear-gradient(135deg,#c06c84,#a0526d);
    border-radius: 25px;
    padding: 10px 18px;
    font-weight: 600;
    transition: 0.3s;
    }
    
    .btn-pesan:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(192,108,132,0.4);
    }

    button:active{
transform: scale(0.95);
}


/* FOOTER */

footer {
    background-color: white;
    padding: 25px;
    margin-top: 60px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.05);
}

/* FLOATING KONTAK */
.floating-contact{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    }
    
    /* BUTTON UMUM */
    .floating-contact a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    }
    
    /* WHATSAPP */
    .floating-contact .wa{
    background: #25D366;
    animation: pulse 1.5s infinite;
    }

    @keyframes pulse{
        0%{transform: scale(1);}
        50%{transform: scale(1.1);}
        100%{transform: scale(1);}
        }
    
    /* INSTAGRAM */
    .floating-contact .ig{
    background: linear-gradient(45deg,#f9ce34,#ee2a7b,#6228d7);
    }
    
    /* HOVER */
    .floating-contact a:hover{
    transform: scale(1.1);
    }